<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Document</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    </head>
    
    <body>
        <section style="margin-top:40px;">
            <div class="container">
                <div class="row jumbotron">
                    <div class="col-md-6">
                        <form>
                            <fieldset>
                                <div class="form-group">
                                    <label for="exampleInputUploaded">Uploaded By</label>
                                    <input type="text" class="form-control" id="exampleInputUploaded" aria-describedby="emailHelp" placeholder="Uploaded By">
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputRolename">Rolename</label>
                                    <input type="text" class="form-control" id="exampleInputRolename" aria-describedby="emailHelp" placeholder="Rolename">
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputVlodtd">Vlodtd Date</label>
                                    <input type="text" class="form-control" id="exampleInputVlodtd" aria-describedby="emailHelp" placeholder="Vlodtd">
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputShort">Short Desc</label>
                                    <input type="text" class="form-control" id="exampleInputShort" aria-describedby="emailHelp" placeholder="Short Desc">
                                </div>
                                <div class="form-group">
                                    <label for="exampleLong">Long Desc</label>
                                    <textarea class="form-control" id="exampleLong" rows="3"></textarea>
                                </div>
                                <div class="form-group">
                                    <label for="exampleTotal">Total View</label>
                                    <input type="text" class="form-control" id="exampleTotal" aria-describedby="emailHelp" placeholder="Total View">
                                </div>
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </fieldset>
                        </form>
                    </div>
                    <div class="col-md-6">
                        <div class="embed-responsive embed-responsive-16by9 video-4587" style="margin-top:40px;">
                            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/v64KOxKVLVg" allowfullscreen></iframe>
                        </div>
                        <br>
                        <button type="button" class="btn btn-primary">Primary</button>
                        <button type="button" class="btn btn-primary pull-right">Primary</button>

                    </div>
                </div>
            </div>
        </section>
    </body>
    
    
    
</html>